* {
    margin: 0;
    padding: 0;
}

.postPage {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pictures {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px black solid;
}

#picturesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webcam {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h3Webcam {
    margin: 10px;
}

#video {
    width: 640px;
    height: 360px;
    background: grey;
}

#canvas, #canvasPrevious {
    display: none;
}

.stickers {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px black solid;
}

img {
padding: 20px 0px;
}

button {
    min-width: 100px;
    height: 40px;
    padding: 0px 10px;
    background: none;
    margin: 20px 0px;
    border: 2px black solid;
    border-radius: 5px;
    color: #0a8a72;
    font-size: 1rem;
    cursor: pointer;
}

.validPicture {
    width: 100vw;
    height: 100vh;
    background: #91ffff;
    color: #08a4a7;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.validPicture.visible {
    opacity: 1;
    pointer-events: auto;
}