* {
    padding: 0;
    margin: 0;
}

.header {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 1rem;
}

.title a{
    color: black;
}

.divBtnMenu {
    width: 100vw;
    box-sizing: border-box;
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnLogout {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ede3da;
}

.pictures {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.h3Pictures {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 0px;
}

.picturesDiv {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    gap: 15px; /* Espace entre les images */
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.webcam {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3Webcam {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 0px;
}

.videoElement {
    width: 100vw;
}

.canvas {
    display: none;
}

.btnCapture {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.upload {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3Upload {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 0px;
}

.uploadImage::file-selector-button {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.btnUploadCapture {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.stickers {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3Stickers {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 0px;
}

.formSticker {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
    gap: 20px; /* espace entre les stickers */
    justify-items: center;
    align-items: center;
}

.travel_input, .gamepad_input, .hamburger_input, .panda_input, .trophy_input, .parrot_input {
    opacity: 0;
}

.activeSticker {
    background: #c8aa8f;
    border-radius: 5px;
}

.footer {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

.footerP a {
    font-size: 1rem;
    color: black;
}

.validPicture {
    width: 100vw;
    min-height: 100vh;
    background: #ede3da;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.h3ValidPicture {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 0px;
}

.btnHome {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.btnAnotherPicture {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px 0px;
}

.errorMessageP {
    background: red;
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 5px;
}

/* .main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.pictures {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px black solid;
}

#picturesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webcam {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h3Webcam {
    margin: 10px;
}

#videoElement {
    width: 640px;
    height: 480px;
    background: grey;
}

#canvas, #canvasPrevious {
    display: none;
}

.stickers {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px black solid;
}

img {
padding: 20px 0px;
}

button {
    min-width: 100px;
    height: 40px;
    padding: 0px 10px;
    background: none;
    margin: 20px 0px;
    border: 2px black solid;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.validPicture {
    width: 100vw;
    height: 115vh;
    background: #91ffff;
    color: #08a4a7;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.validPicture.visible {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 950px) and (max-width: 1300px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .pictures {
        border: none;
    }

    .stickers {
        width: 50%;
        border: none;
    }

    #videoElement {
        width: 480px;
        height: 360px;
    }

    .validPicture {
        height: 275vh;
    }
}

@media (max-width: 950px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .pictures {
        border: none;
    }

    .stickers {
        width: 50%;
        border: none;
    }

    #videoElement {
        width: 240px;
        height: 180px;
    }

    .validPicture {
        height: 340vh;
    }
} */