* {
    padding: 0;
    margin: 0;
}

.header {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 1rem;
}

.title a{
    color: black;
}

.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ede3da;
}

.loginDiv, .registerDiv {
    width: 90vw;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginDiv {
    border-bottom: 2px black solid;
}

.h2Login, .h2Register {
    font-size: 1.5rem;
}

.formLogin, .formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iptLogin, .iptRegister {
    margin: 5px 0px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.pConstrainedPassword {
    font-size: 0.7rem;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 0px;
}

.pForgotPassword {
    box-sizing: border-box;
    padding: 5px;
}

.pForgotPassword a {
    color: black;
}

.submitLogin, .submitRegister {
    box-sizing: border-box;
    padding: 5px 15px;
    margin: 10px 0px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.errorStyle {
    background: red;
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 5px;
}

.footer {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

.footerP a {
    font-size: 1rem;
    color: black;
}