* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 1rem;
}

.title a{
    color: black;
}

.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ede3da;
}

.changePassword {
    width: 100vw;
    box-sizing: border-box;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iptChangePassword {
    margin: 5px 0px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.btnSubmit {
    box-sizing: border-box;
    padding: 5px 15px;
    margin: 10px 0px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.errorMessageP {
    background: red;
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 5px;
}

.footer {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 0px;
    text-align: center;
}

.footerP a {
    font-size: 1rem;
    color: black;
}