* {
    margin: 0;
    padding: 0;
}

/******** Home ********/
.home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/******** Header ********/

.header {
    background: #91ffff;
    color: #08a4a7;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.postHeader {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnAuth {
    width: 100px;
    height: 35px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    color: #08a4a7;
    cursor: pointer;
}


/******** Main ********/
.main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: pink;
}

img {
    padding: 15px 0px;
}