* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/******** Home ********/
.home {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/******** Header ********/

.header {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
}

.title {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 1rem;
}

.divBtnMenu {
    width: 100vw;
    box-sizing: border-box;
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnMenu {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}


/******** Main ********/
.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ede3da;
}

.feedMainDiv {
    width: 100vw;
    max-width: 640px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureFeed {
    width: 100vw;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.usernameDiv {
    width: 100vw;
    max-width: 640px;
    box-sizing: border-box;
    padding: 8px;
}

.usernameP {
    font-size: 1rem;
}

.handleDiv {
    width: 100vw;
    max-width: 640px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconDiv {
    width: 90vw;
    max-width: 640px;
    padding: 5px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeImg {
    cursor: pointer;
}

.commentIconImg {
    cursor: pointer;
}

.commentDiv {
    width: 90vw;
    max-width: 640px;
    padding: 5px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}

.commentInput {
    width: 90vw;
    max-width: 640px;
    margin: 8px 0px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.commentButton {
    padding: 3px 8px;
    box-sizing: border-box;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.commentListDiv {
    width: 90vw;
    max-width: 640px;
    padding: 10px 0px;
    box-sizing: border-box;
}

.commentP {
    width: 90vw;
    max-width: 640px;
    padding: 5px 0px;
    box-sizing: border-box;
    word-break: break-word;
    font-size: 1rem;
}

.buttonListDiv {
    padding: 3px 8px;
    box-sizing: border-box;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}


.btnMorePicture {
    box-sizing: border-box;
    padding: 3px 8px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0px;
}

.errorPDiv {
    width: 100vw;
    max-width: 640px;
    box-sizing: border-box;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorP {
    font-size: 1rem;
}

.errorMessageP {
    background: red;
    padding: 5px 15px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px 0px;
}

.footer {
    background: #c8aa8f;
    color: black;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

.footerP a {
    font-size: 1rem;
    color: black;
}

@media (min-width: 700px) {
    .title {
        font-size: 1.5rem;
    }

    .btnMenu {
        padding: 8px 15px;
        font-size: 1.2rem;
    }

    .usernameP {
        font-size: 1.5rem;
    }

    .commentInput {

        padding: 8px;
    }

    .btnMorePicture, .buttonListDiv, .commentButton {
        padding: 8px 15px;
        font-size: 1.2rem;
    }

    .footerP a {
        font-size: 1.5rem;
    }
}
